<div class="flex-item">
    <md-card>
        <img *ngIf="entity.imageUrl; else noposter" [src]="entity.imageUrl" title="Poster" alt="{{ entity.title }}" (click)="navigateTo(entity)" (error)="retryImage()">
        <ng-template #noposter>
            <img  src="/assets/images/no-image.png" title="Poster" alt="{{ entity.title }}" (click)="navigateTo(entity)">
        </ng-template>
        <div class="title" (click)="navigateTo(entity)">{{ entity.title }} ({{ entity.year }})</div>
        <div class="type">{{ entity.type }}</div>
    </md-card>
</div>
