<div class="flex-container vertical">
	<div class="flex-container center search-box">
		<md-input-container>
			<input mdInput #searchBox id="searchBox" placeholder="Enter movie title..." (keyup)="search(searchBox.value)">
		</md-input-container>
		<md-spinner *ngIf="isSearchInProgress(); else spinner_placeholder"></md-spinner>
		<ng-template #spinner_placeholder>
			<div class="search-placeholder"></div>
		</ng-template>
	</div>
	<div *ngIf="searchResult !== undefined" id="search-results" class="flex-container wrap" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300"
	 (scrolled)="onScroll()">
		<app-movie-item *ngFor="let movie of searchResult.movies" [entity]="movie"></app-movie-item>
	</div>
</div>