@import '~@angular/material/_theming';

@include mat-core();

$primary: mat-palette($mat-orange);
$accent:  mat-palette($mat-brown);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);